<article class="blog-entry">
	<a href="#">
		<div class="imagen-blog-entry"></div>
		<div class="blog-entry-content">
			<h3>{{ title }}</h3>
			<p class="sub-title-3">{{ autor }} - {{ date }}</p>
			<p class="paragraph">{{ description }}</p>
		</div>	
	</a>
</article>