<header>
	<h1>Lovelace Inc.</h1>
</header>
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/services">Services</a></li>
		<li><a href="/portfolio">Portfolio</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>