# ignore packages installed by npm
node_modules/
Brief_and_Designing/
data/
initdb.bat
planificación.txt
gulpfile.js

*~
.DS_Store

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
