<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lovelace inc</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
</head>
<body>
	{{#unless admin}}
		{{> header}}
	{{/unless}}
	
    {{{body}}}
    
    {{> footer}}

    {{{ _sections.js }}}
</body>
</html>