<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lovelace inc</title>
    <link rel="stylesheet" type="text/css" href="css/bulma.min.css">
</head>
<body>
    {{{body}}}
    <footer>
    	<p>Copy&rigth 2020.</p>
    </footer>

    <style type="text/css" src='vendor/jquery.min.js'/>
</body>
</html>