<h1>Admin Contact Page</h1>

<label for="phone">Phone</label>
<input type="text" 
		name="phone" 
		placeholder="0000-000-00-00"
		value="{{ phone }}"><br>

<label for="email">E-mail:</label>
<input type="text" 
		name="email" 
		placeholder="default@gmail.com" 
		value=""><br>

<label for="facebookUrl">Facebook acout:</label>
<input type="text" 
		name="facebookUrl" 
		placeholder="Your link to facebook acount" 
		value=""><br>
<button id="submit">send</button>

{{#section 'js'}}
	<script type="text/javascript">
		
		let button = document.querySelector('#submit');
		let phone = document.querySelector('[name="phone"]');
		let email = document.querySelector('[name="email"]');
		let facebookUrl = document.querySelector('[name="facebookUrl"]');


		button.addEventListener('click', el => {

			let newContactInfo = {
				phone: phone.value,
				email: email.value,
				facebookUrl: facebookUrl.value
			}

			console.log(JSON.stringify(newContactInfo));

			let res = fetch('/contact', 
				{
					method: 'POST',
					headers: {
						"accept": 'application/json',
						"content-type": 'application/json'}, 
					body: JSON.stringify(newContactInfo)
				}
			);

			res.then(res => res.text())
				.then(body => console.log('the request is: ' + JSON.parse(body).success));
		});
	</script>
{{/section}}