<h1 class="title">Contact page</h1>

<form id="formulario" action="/data?form=contact" method="POST" role="form">
	<input type="text" name="nombre" placeholder="¿Cómo te llamas?">
	<textarea name="mensage" placeholder="¿Qué podemos hacer por ti?"></textarea>
	<button class="button is-primary" type="submit">Enviar</button>
</form>

{{#section 'js'}}
	<script type="text/javascript">

		var form = document.querySelector('#formulario');
		console.log('ejecutado');
		console.log(form);
		form.addEventListener('submit', function(e){
				console.log('en el formulario');
				e.preventDefault();
			}
		);

	</script>	
{{/section}}