<h1 class="title">Contact page</h1>

<h2>Contact Info</h2>
<ul>
	<li>Phone: {{ phone }}</li>
	<li>E-mail: {{ email }}</li>
	<li>Facebook: {{ facebook }}</li>
</ul>

<h2>Send us a message:</h2>
<form id="formulario" action="/message" method="POST" role="form">
	<input type="text" name="nombre" placeholder="How you called?">
	<br>
	<textarea name="mensage" placeholder="What you want?"></textarea>
	<br>
	<button class="button is-primary" type="submit">Send</button>
</form>

{{#section 'js'}}
	<script type="text/javascript">

		var form = document.querySelector('#formulario');
		var accion = form.getAttribute('action');
		console.log('ejecutado');
		console.log(form);
		form.addEventListener('submit', function(e){
				console.log('en el formulario');
				var peticion = fetch(accion, {
					method: 'POST',
				});
				peticion.then(res => res.text())
						.then(text => form.innerHTML = `<h2>${text}</h2>`);
				e.preventDefault();
			}
		);

	</script>	
{{/section}}