@import "variables.css";

/*======= Typography =========*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: var(--primary-font);
	font-size: 1rem;
	line-height: normal;
	margin: 0;

	font-weight: normal;
}

h1 {
	color: var(--pink);
	font-weight: bold;

	font-size: calc(var(--title-size) - 0rem);
	line-height: 4.5rem;

	text-shadow: 1px 1px 1px var(--shadow);
}

h2 {
	font-size: calc(var(--title-size) - 1rem);
	line-height: 4rem;
}

h3 {
	font-size: calc(var(--title-size) - 2rem);
	line-height: calc(var(--title-size) - 2rem);
}

h4 {
	font-size: calc(var(--title-size) - 1.5rem);
	line-height: 3rem;
}

h5 {
	font-size: calc(var(--title-size) - 2rem);
	line-height: 2.5rem;
}

h6 {
	font-size: calc(var(--title-size) - 2.5rem);
	line-height: 2rem;
}

[class^="sub-title"] {
	font-family: var(--secondary-font);
}

.sub-title-1 {
	font-size: calc(var(--sub-title-size) - 0rem);
	line-height:  calc(var(--sub-title-size) - 1rem);
}

.sub-title-2 {
	font-size: calc(var(--sub-title-size) - .5rem);
	line-height:  calc(var(--sub-title-size) - 1.5rem);
}

.sub-title-3 {
	font-size: calc(var(--sub-title-size) - 1.5rem);
	line-height:  calc(var(--sub-title-size) - 2rem);
}

.sub-title-4 {
	font-size: calc(var(--sub-title-size) - 2rem);
	line-height:  calc(var(--sub-title-size) - 2.5rem);
}

.sub-title-5 {
	font-size: calc(var(--sub-title-size) - 2rem);
	line-height:  calc(var(--sub-title-size) - 3rem);
}

.sub-title-6 {
	font-size: calc(var(--sub-title-size) - 4.5rem);
	line-height:  calc(var(--sub-title-size) - 4rem);
}

hgroup {
	margin-bottom: 1rem;
}

/*============ in paragraph ===============*/

p, a {
	margin-bottom: .5rem;

	font-size: 1.3rem;
	line-height: 1.5rem;
}

a {
	display: inline;
	color: var(--pink);
}