<h1>Registra un nuevo artículo!! Hay {{ length }}</h1>

<div>
  <h1>Crear un nuevo articulo:</h1>
  <form id="newArticle">
    <label>Nombre</label>
    <input type="field" name="name" value="Sandalias">
    </br>
    <label>Precio</label>
    <input type="field" name="price" value="100">
    </br>
    <label>En Venta</label>
    <input type="field" name="stock" value="10">
    </br>
    <label>Foto</label>
    <input type="file" id="files" multiple="true" name="photo">
    </br>
    <div id="previews">
      
    </div>
    <div>
      <label>Disponible</label>
      <input type="checkbox" name="available">
    </div>
    <input type="submit" name="send">
  </form>
</div>

{{#each articles}}
  {{> article}}
{{/each}}
<script type="text/javascript">
  console.log('ejecutando...');

  const articulo = {
    id: new Date(),
    name: 'Sandalias',
    price: 100,
    stock: 20,
    photo: 'path to photo'
  }

  let form = document.getElementById('newArticle')
  let fileInput = document.getElementById('files')
  let previews = document.getElementById('previews')

  let listOfFiles = []

  function printAllFiles(files){
    for(let file of files) {
      console.log(`${files.indexOf(file)}. The file ${file.name} has a size of: ${file.size}`)
    }
  }

  fileInput.addEventListener('change', (evt) => {
    console.log(evt);

    let html = ''
    
    const files = fileInput.files;
    for (let file of files) {
      

      // prueba
      const newName = `${Date.now()}.${file.type.split('/')[1]}`
      listOfFiles.push(createNewFile(file, newName))
      // fin prueba

    }

    for(let file of listOfFiles) {
      const url = URL.createObjectURL(file)
      html += 
      `<input type="radio" name="cover" value=${file.name} id="${file.name}">
      <label for="${file.name}">
        <img src="${url}" width="100" height="150">
      </label>`
    }

    printAllFiles(listOfFiles)

    previews.innerHTML = html
  })

  function createNewFile(file, newName) {
    return new File([file], newName, { type: file.type })
  }
  
  function hasFiles(fileInput) {
    return (fileInput.files.length > 0)
  }

  form.addEventListener('submit', (e) => {
    e.preventDefault()
    const form = new FormData(e.srcElement)
    //form.append('photos', listOfFiles)

    form.delete('photos')
    for(let file of listOfFiles) {
      console.log(file.name)
      form.append('photos', file)
    }

    console.log(form.get('photos'))
    console.log(listOfFiles)


    form.delete('photo');

    const query = `mutation loQueSea($name: String){ hello(who: $name) }`
    const variables = {name: 'Douglas'}

    let gql = JSON.stringify({ query, variables })
    form.append('toGraphql', gql)

    sendArticle(form)

  });

  ///admin/articulo
  function sendArticle(form){
    fetch('/upload', 
      {
        method: 'POST',
        headers: {
          accept: 'application/json'
        },
        body: form
      }
    )
    .then((res) => res.json())
    .then((json) => 
      {
        alert(JSON.stringify(json));
      }
    );
  }
</script>